.App {
  text-align: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .Home{
    display: flex;
    flex-direction: column;
  }
  .card{
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
  }
}


@media screen and (max-width: 960px) {
  .card{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  
}