@media screen and (max-width: 960px) {
    .p-menubar-button {
      display: none;
    }
  
    .p-menubar-root-list {
      display: flex;
      align-items: center;
      justify-content: center;
      position: unset;
      padding: unset;
      background: inherit;
      border: unset;
      box-shadow: unset;
      width: unset;
    }
  }
  
  .p-menubar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10vh;  
    align-items: center;
    background-color: rgb(19, 19, 19);
    border: none;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
  
  .menubar > a {
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  
  .p-menubar a:hover {
    background-color: rgb(38, 38, 38);
  }
  
  .p-menuitem-icon {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
  
  .p-menu-list {
    justify-content: center;
    align-items: center;
  }
  
  .p-menubar-start {
    justify-content: center;
    align-items: center;
  }
  
  .mr-2 {
    margin-left: 0.5rem;
  }
  
  .p-icon {
    color: whitesmoke;
  }
  
  .p-menubar-button {
    color: whitesmoke;
  }

  .p-menubar-start {
    justify-content: center;
    align-items: center;
  }
  