@media screen and (max-width: 960px) {
    #boxButton {
      flex-direction: column;
    }
    #historyButtons {
      margin: 0.5em;
    }
    #titleSong > h1{
      font-size: 0.8rem;
    }
    #imgSongBox img {
      width: 25vw;
      height: 13vh;
    }
    #imageAndInfos {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 960px) {
    .p-menubar-button {
      display: none;
    }
  
    .p-menubar-root-list {
      display: flex;
      align-items: center;
      justify-content: center;
      position: unset;
      padding: unset;
      background: inherit;
      border: unset;
      box-shadow: unset;
      width: unset;
    }
  }
  