@media screen and (min-width: 960px) {
  .p-listbox-header {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
  }

  .p-listbox-list {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    display: block;
  }

  .p-listbox-item:hover {
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
  }

  .p-listbox-filter {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
  }

  .p-panel-header {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
  }

  .p-panel-content {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    height: auto;
  }

  .p-panel-header-icon:hover {
    background-color: rgb(38, 38, 38);
  }

  img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-right: 2vw;
  }

  #songScroller {
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 38, 38);
    border-radius: 1rem;
    min-width: 30%;
    padding: 2rem;
    min-width: 50px;
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    border: none;
  }

  #imageAndInfos {
    display: flex;
    flex-direction: row;
    width: fit-content;
    width: -moz-fit-content;
    justify-content: space-around;
    align-items: center;
  }

  #titleSong > h1 {
    font-size: 1rem;
    font-weight: 800;
    color: whitesmoke;
  }

  #boxButton, #boxButtonFavorites {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }
  

  #historyButtons {
    width: fit-content;
    width: -moz-fit-content;
  }

  #titleSong {
    text-align: left;
  }
  #titleSong > h1 {
    font-size: 1rem;
    font-weight: 600;
    color: whitesmoke;
  }

  .p-datascroller-content {
    background-color: rgb(19, 19, 19);
    border-radius: 1rem;
  }

  #imgSongBox {
    display: flex;
  }

  #imgSongBox:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }

  #imgSongBox img {
    border-radius: 10%;
    width: 14vw;
    height: 16vh;
  }

  a {
    color: whitesmoke;
    text-decoration: none;
  }

  #buttonHistory {
    background-color: rgb(153, 153, 153);
    color: whitesmoke;
    border: none;
    border-radius: 1rem;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      "Georgia", sans-serif;
  }
  .p-datascroller-list > li {
    border: none;
  }

  #buttonHistory:hover {
    scale: 1.1;
  }

  .p-inputtext {
    background-color: rgb(38, 38, 38);
    width: 30vw;
    border: 1px solid whitesmoke;
    height: 6vh;
    color: whitesmoke;
    text-align: center;
  }

  .search {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #searchButton {
    margin-left: 0.8vw;
    color: whitesmoke;
  }
}
@media screen and (max-width: 960px) {
  .p-dialog{
    min-width: 80vw;
  }
  .p-dialog-header-maximize{
    display: none;
  }
  #imageAndInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-radius: 10px;
  }
  #songScroller {
    background-color: rgb(38, 38, 38);
    border-radius: 1rem;
  }

  #imgSongBox {
    margin-top:1rem;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.5s;
    }
    > img{
      border-radius: 1rem;
    }
  }
  #imageAndInfos h1 {
    font-size: 1rem;
    font-weight: 200;
    color: whitesmoke;
  }
  .p-datascroller-content {
    background-color: rgb(19, 19, 19);
    border-radius: 1rem;
  }
  .p-component .p-button-success {
    display: flex;
    justify-content: center;
  }
  .p-component .p-button-danger {
    display: flex;
    justify-content: center;
  }
  .p-component .p-button {
    display: flex;
    justify-content: center;
  }
  .p-component .p-button-success:hover {
    background-color: rgb(94, 194, 105);
  }
  .p-component .p-button-danger:hover {
    background-color: rgb(221, 82, 76);
  }
  .p-button-label {
    display: none;
  }
  #boxButton {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  #boxButtonFavorites{
    display: flex;
    align-items: center;
  }
  #historyButtons {
    display: flex;
    margin: 0.5em;
  }
  #imageAndInfos {
    display: flex;
    flex-direction: column;
  }
  .p-datascroller-list > li {
    border: none;
  }
  .p-button .p-button-icon-left {
    margin: 0;
  }

  .p-listbox-header {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
  }

  .p-listbox-list {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    display: block;
  }

  .p-listbox-item:hover {
    background-color: rgb(38, 38, 38);
    color: whitesmoke;
  }

  .p-listbox-filter {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
  }

  .p-panel-header {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
  }

  .p-panel-content {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
    height: auto;
  }

  .p-panel-header-icon:hover {
    background-color: rgb(38, 38, 38);
  }
  img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-right: 2vw;
  }
  .p-inputtext {
    background-color: rgb(38, 38, 38);
    border: 1px solid whitesmoke;
    width: 30vw;
    height: 6vh;
    color: whitesmoke;
    text-align: center;
  }

  .search {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #downloadByLink, #downloadBySongName{
    display: flex;
  }
  .p-panel-content{
    display: flex;
    flex-direction: column;
  }
  #searchButton {
    margin-left: 0.8vw;
    color: whitesmoke;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}