.App {
  text-align: center;
}

.Login-header {
  background-image: url("/public/sfondo.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  background-size: 210vh;
  background-position: top center;
  background-repeat: no-repeat;
}

#login-button {
  position: absolute;
  background-color: rgb(89, 89, 89);
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  padding: 1.2rem;
  margin: 0.5rem;
  transition: 0.5s;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2),
    0px 10px 20px rgba(0, 0, 0, 0.15),
    0px 15px 25px rgba(0, 0, 0, 0.1),
    0px 20px 30px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  top: 42vh;
  right: 10vw;
  animation: zoomIn 1s ease-out forwards;
}

@keyframes zoomIn {
  from {
     transform: scale(0);
     opacity: 0;
  }
  to {
     transform: scale(1);
     opacity: 1;
  }
 }

#login-button:hover {
  background-color: rgb(0, 0, 0);
  letter-spacing: 0.15em;
  box-shadow: 0 0 35px rgb(38, 38, 38);
}

.Home-header {
  background-image: url("/public/sfondo.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  background-size: 210vh;
  background-position: top center;
  background-repeat: no-repeat;
}

.vertical-navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vh;  
  align-items: right;
  background-color: rgb(19, 19, 19);
  border: none;
}

.vertical-navbar a {
  cursor: pointer;
  align-items: center;
}

.vertical-navbar a:hover {
  background-color: rgb(38, 38, 38);
}

.p-menuitem-icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.mr-2 {
  margin-left: 0.5rem;
}

.p-icon {
  color: whitesmoke;
}

.p-menubar-button {
  color: whitesmoke;
}

.p-dialog-header {
  background-color: rgb(19, 19, 19);
}

.p-dialog-title {
  color: whitesmoke;
}

.p-dialog-content {
  background-color: rgb(19, 19, 19);
}

.m-0 {
  color: whitesmoke;
}

.p-dialog-header-close:hover {
  background-color: rgb(38, 38, 38);
}

#linkMusic {
  width: 50vw;
  height: 5vh;
  border: none;
  border-radius: 0.2rem;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
  margin: 10px;
  text-align: center;
  background-color: rgb(53, 53, 53);
}

#linkMusic[type=text]:focus {
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2),
              0px 10px 20px rgba(0, 0, 0, 0.15),
              0px 15px 25px rgba(0, 0, 0, 0.1),
              0px 20px 30px rgba(0, 0, 0, 0.05);
  color: whitesmoke;
}

#linkMusic::placeholder {
  color: whitesmoke;
  font-size: 1em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
  text-align: center;
  opacity: 0.5;
}

.p-dialog-content {
  text-align: center;
}

.p-speeddial-button  {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
  border-color: whitesmoke;
}

.p-speeddial-button:hover {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  border-color: whitesmoke;
}

.p-speeddial {
  padding-left: 29.6rem;
  padding-top: 1rem;
}

.p-speeddial-action {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
  border-color: whitesmoke;
}

.p-speeddial-action:hover {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  border-color: whitesmoke;
}

.download_audio {
  margin-top: 2rem;
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
  border: none;
  border-radius: 1.5rem;
  width: 10rem;
  height: 3rem;
  font-size: 1em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
}

#github {
  color: whitesmoke;
}

