.App {
  text-align: center;
}

.Login-header {
  background-image: url("/public/sfondo.jpg");
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  background-size: 210vh;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

#login-button {
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  padding: 1.2rem;
  margin: 0.5rem;
  transition: 0.5s;
  border: none;
  border-radius: 1rem;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2),
    0px 10px 20px rgba(0, 0, 0, 0.15),
    0px 15px 25px rgba(0, 0, 0, 0.1),
    0px 20px 30px rgba(0, 0, 0, 0.05); */
  cursor: pointer;
  top: 42vh;
  right: 10vw;
  animation: zoomIn 1s ease-out forwards;
}

@keyframes zoomIn {
  from {
     transform: scale(0);
     opacity: 0;
  }
  to {
     transform: scale(1);
     opacity: 1;
  }
 }

#login-button:hover {
  background-color: rgb(22, 21, 21);
  letter-spacing: 0.15em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2),
    0px 10px 20px rgba(0, 0, 0, 0.15),
    0px 15px 25px rgba(0, 0, 0, 0.1),
    0px 20px 30px rgba(0, 0, 0, 0.05); */
}

.Home-header {
  background-image: url("/public/sfondo.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  background-size: 210vh;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.vertical-navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vh;  
  align-items: right;
  background-color: rgb(19, 19, 19);
  border: none;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.vertical-navbar a {
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.vertical-navbar a:hover {
  background-color: rgb(38, 38, 38);
}

.p-menuitem-icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.p-menubar-root-list {
  justify-content: center;
  align-items: center;
}

.p-menubar-start {
  justify-content: center;
  align-items: center;
}

.mr-2 {
  margin-left: 0.5rem;
}

.p-icon {
  color: whitesmoke;
}

.p-menubar-button {
  color: whitesmoke;
}

.p-dialog-header {
  background-color: rgb(19, 19, 19);
}

.p-dialog-title {
  color: whitesmoke;
}

.p-dialog-content {
  background-color: rgb(19, 19, 19);
}

.m-0 {
  color: whitesmoke;
}

.p-dialog-header-close:hover {
  background-color: rgb(38, 38, 38);
}

#linkMusic {
  width: 50vw;
  height: 5vh;
  border: none;
  border-radius: 0.2rem;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
  margin: 10px;
  text-align: center;
  background-color: rgb(53, 53, 53);
}

#linkMusic[type=text]:focus {
  outline: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2),
              0px 10px 20px rgba(0, 0, 0, 0.15),
              0px 15px 25px rgba(0, 0, 0, 0.1),
              0px 20px 30px rgba(0, 0, 0, 0.05);
  color: whitesmoke;
}

#linkMusic::placeholder {
  color: whitesmoke;
  font-size: 1em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
  text-align: center;
  opacity: 0.5;
}

.p-dialog-content {
  text-align: center;
}

/*DIALOG FOOTER*/

#downloadDiv{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#favorites{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

#favoritesButton{
  width: 62px;
  height: 62px;
}

#favoritesButton:hover {
  background-color: rgb(19, 19, 19);
}

.download_audio {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
  border-radius: 1.5rem;
  min-width: 10vw;
  height: 8vh;
  padding: 1rem;
  margin-left: 5.5vw;
  border-color: whitesmoke;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
}

#github {
  color: whitesmoke;
}

.p-button-help {
  color: whitesmoke;
  margin-left: 2vw;
}

.p-button:hover {
  background-color: rgb(38, 38, 38);
}

.p-listbox-header {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
}

.p-listbox-list {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
  display: block;
}

.p-listbox-item:hover {
  background-color: rgb(38, 38, 38);
  color: whitesmoke;
}

.p-listbox-filter {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
}

.p-rating {
  color: whitesmoke;
  justify-content: center;
  margin-top: 2vh;
}

.p-panel-header {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
}

.p-panel-content {
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
  height: auto;
}

.p-panel-header-icon:hover {
  background-color: rgb(38, 38, 38);
}

img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  margin-right: 2vw;
}

.p-menubar-start {
  justify-content: center;
  align-items: center;
}

.p-autocomplete-input {
  width: 50vw;
  height: 5vh;
  border: none;
  border-radius: 0.2rem;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1em;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
  margin: 27px;
  text-align: center;
  background-color: rgb(53, 53, 53);
} 

.p-autocomplete-input::placeholder {
  color: whitesmoke;
  opacity: 0.5;
}

.p-autocomplete-items {
  background-color: rgb(53, 53, 53);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
  font-size: 1em;
  color: whitesmoke;
}

.p-autocomplete-item {
  color: whitesmoke;
}

.p-autocomplete-item:hover {
  background-color: rgb(88, 88, 88);
}


#boxHistory {
  display:flex;
  flex-direction: column;
  background-color: rgb(38, 38, 38);
  border-radius: 1rem;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
  border: none;
}

#imageAndInfos {
  display:flex;
  flex-direction: row;
  width: fit-content;
  justify-content: space-around;
  align-items: center;
}

#titleHistory > h1 {
  font-size: 1rem;
  font-weight: 800;
  color: whitesmoke;
}

#boxButton {
  display:flex;
  justify-content: space-between;
  align-items: center;
  border:none;
}

#historyButtons {
  width: fit-content;
}


#titleHistory {
  text-align: left;
}
#titleHistory > h1 {
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
}

.p-datascroller-content {
  background-color: rgb(19, 19, 19);
  border-radius: 1rem;
}

#imgHistoryBox {
  display: flex;
}

#imgHistoryBox:hover{
  transform: scale(1.05);
  transition: transform 0.5s;

}

#imgHistoryBox img {
  border-radius: 10%;
  width: 14vw;
  height: 14vh;
}


a {
  color: whitesmoke;
  text-decoration: none;
}

#buttonHistory {
  background-color: rgb(153, 153, 153);
  color: whitesmoke;
  border: none;
  border-radius: 1rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue','Georgia', sans-serif;
}

#buttonHistory:hover {
  scale: 1.1;
}

.p-dialog-header-maximize:hover{
  background-color: rgb(38, 38, 38);
}

.p-inputtext {
  background-color: rgb(38, 38, 38);
  border: none;
  width: 30vw;
  height: 6vh;
  color: whitesmoke;
  text-align: center;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#searchButton {
  margin-top: 2vh;
  margin-left: 0.8vw;
  color: whitesmoke;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}



